@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-shimmer-infinite: shimmer-infinite 2s ease-in-out infinite;

  @keyframes shimmer-infinite {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Makes the body scrollable if content overflows vertically */
}

progress {
  border: 0;
  border-radius: 1em;
  height: calc(var(--spacing) * 2);
}
progress::-webkit-progress-bar {
  border: 0;
  border-radius: 1em;
  background-color: var(--color-gray-100);
  box-shadow: inset 0px 0px 2px var(--color-gray-400);
}
progress::-webkit-progress-value {
  border: 0;
  border-radius: 1em;
  background-color: var(--color-blue-600);
}
